<% provide(:title, 'About us') %>

<h1>About us</h1>
<h2>About us</h2>
<p>The Pain Gang is a collection of dedicated specially trained personnel including doctors, nurses and administrative support who work together to extend the boundaries of expertise in pain relief.</p>

<p> Our staff have decades of experience and are readily available for urgent care.</p>

<p> Pain relief approaches range from the simple traditional to complex modern innovative techniques.</p>

